{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Track your licence
      </h1>
      <div class="govuk-box-highlight">
      <p>
        Tracking number<br><span class="heading-small">{{ token }}</span>
      </p>
      <p class="heading-medium">
        Your licence is on its way.<br>It should be with you today or tomorrow.
      </p>
      </div>

      <h2 class="heading-medium">History</h2>

      <table>
        <thead>
          <tr><th>Time</th><th>Status</th>
        </thead>
        <tbody>
          <tr><td>Today – 6:45am</td><td>Romford RMA – Out for delivery</td></tr>
          <tr><td>Yesterday – 5:11pm</td><td>Swansea Depot – Transfer</td></tr>
          <tr><td>Yesterday – 3:01pm</td><td>Swansea Depot – Received</td></tr>
          <tr><td>Yesterday – 9:20am</td><td>DVLA – Printing</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</main>

{% endblock %}
